<%- include('../components/header'); %>
<%- include('../components/navbar'); %>
<div class="container mx-5">
  <form action="../users/allPosts" method="post" class="row needs-validation" novalidate>
    <legend class="mb-3">Login</legend>
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail Address</label>
      <input type="text" name="email" id="email" class="form-control" value="" required>
      <div class="invalid-feedback">
        Please Enter Email!
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" value="" required>
      <div class="invalid-feedback">
        Please Enter Password!
      </div>
    </div>
    <div class="mb-3">
      <input type="checkbox" name="remember" id="remember" class="form-check-input">
      <label for="remember" class="form-check-label">Remember Me</label>
    </div>
    <button type="submit" name="login" value="login" class="btn btn-primary">Login</button>
    <a href="">Forgot Your Password?</a>
  </form>
</div>
<%- include('../components/footer'); %>
